.Carousel {
    position: relative;
    width: 100%;
    height: 350px; 
    overflow: hidden; 
    padding:  0 10%;
}

.carouselWrapper {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    height: 100%;
}

.carouselContent {
    min-width: 100%; 
    box-sizing: border-box; 
    height: 100%;
    position: relative; 
}

.carouselContent img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.texts {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 10px;
}

.carouselLeft, .carouselRight {
    border: 0;
    background: rgba(116, 116, 116, 0.344);
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carouselLeft {
    left: 10px;
}

.carouselRight {
    right: 10px;
}

.carouselLeft svg, .carouselRight svg {
    font-size: 3em;
    color: #fff;
}

@media (max-width: 1387px) {
    .carouselLeft svg, .carouselRight svg {
        font-size: 2.5em;
    }
}
@media (max-width: 860px) {
    .texts {
        font-size: .6em;
    }
}

@media (max-width: 768px) {
    .carouselLeft svg, .carouselRight svg {
        font-size: 3em;
    }
}
